
* {
    margin: 0;
    padding: 0;
}

// $container-width: 600px;
// $player-width: 350px;
$player-height: 100px;

#container {
    width: 800px;
    margin: 30px auto 0;
    background-color: aliceblue;
}


#another-player-container {
    height: $player-height;
    font-size: 0;
    line-height: 0;
    background-color: aquamarine;
}

.player {
    display: inline-block;
    width: 120px;
    height: $player-height;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
    background-color: azure;
}

#battle-field {
    height: 200px;
    background-color: coral;
}

#player-container {
    height: 100px;
    background-color: aquamarine;
}




