
* {
    margin: 0;
    padding: 0;
}

#container {
    width: 800px;
    margin: 20px auto 0;
    background-color: aliceblue;
}

#another-player-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aquamarine;
}

.another-player {
    width: 120px;
    background-color: azure;
}

.rank {
    margin-left: 8px;
}

.card-back {
    width: 60px;
    vertical-align: text-bottom;
}

#battle-field {
    height: 200px;
    background-color: lavender;
}

#player {
    height: 340px;
    background-color: azure;
}

#player-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: cadetblue;

    button {
        width: 100px;
        margin: 0 20px;
    }
}

#player-card-list {
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
    align-items: center;

    .selected {
        $translateY: translateY(-35px);

        translate: $translateY;
        -webkit-transform: $translateY;
        -moz-transform: $translateY;
        -ms-transform: $translateY;
        -o-transform: $translateY;
    }
}

// 四人対戦での最大カード枚数 + 7渡しの最大枚数
// 14 + 4
@for $i from 0 through 17 {
    #player-card#{$i} {
        width: 150px;
        margin-left: -150px;
        z-index: $i;
    }
}

#player-card0 {
    margin-left: 0;
}

