<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大富豪</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <div id="container">
            <div id="another-player-container">
                <div class="another-player" v-for="player in anotherPlayerList">
                    <div>
                        <span>{{player.name}}</span><span class="rank">{{player.rank}}</span>
                    </div>
                    <div>
                        <img class="card-back" src="./assets/card/card_back.png">×{{player.cardList.length}}
                    </div>
                </div>
            </div>
            <div id="battle-field"></div>
            <div id="player" @click="selectedCardReset">
                <div>
                    <span>{{player.name}}</span><span class="rank">{{player.rank}}</span>
                    <div id="player-button-container">
                        <button>パス</button>
                        <button>カードを出す</button>
                    </div>
                </div>
                <div id="player-card-list">
                    <img v-for="(card, index) in player.cardList"
                        :id="'player-card' + index"
                        :src="card.imagePath"
                        :class="{'selected': card.isSelected}"
                        @click.stop="cardClick(index)"
                    >
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/common.js"></script>
    <script src="js/suit.js"></script>
    <script src="js/card.js"></script>
    <script src="js/joker.js"></script>
    <script src="js/cardFactory.js"></script>
    <script src="js/dealer.js"></script>
    <script src="js/rank.js"></script>
    <script src="js/player.js"></script>
    <script src="js/main.js"></script>
</body>
</html>