<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大富豪</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <div id="container">
            <div id="another-player-container">
                <div class="another-player" v-for="player in anotherPlayerList">
                    <div>
                        <span>{{player.name}}</span><span class="rank">{{player.rank}}</span>
                    </div>
                    <div>
                        <img class="card-back" src="./assets/card/card_back.png">×13
                    </div>
                </div>
            </div>
            <div id="battle-field"></div>
            <div id="player">
                <div>
                    <span>{{player.name}}</span><span class="rank">{{player.rank}}</span>
                </div>
                <div id="player-card-list">
                    <img v-for="i in 14" id="player-card" src="./assets/card/heart/card_heart_13.png">
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/suit.js"></script>
    <script src="js/card.js"></script>
    <script src="js/cardFactory.js"></script>
    <script src="js/rank.js"></script>
    <script src="js/player.js"></script>
    <script src="js/main.js"></script>
</body>
</html>