<div id="container">
    <div id="another-player-container">
        <div class="another-player" v-for="player in anotherPlayerList">
            <div>
                <span>{{player.name}}</span><span class="rank">{{player.rank}}</span>
            </div>
            <div>
                <img class="card-back" src="./assets/card/card_back.png">×{{player.cardList.length}}
            </div>
        </div>
    </div>
    <div id="battle-field">
        <div id="battle-field-card-container" :style="{width: battleFieldCardContainerWidth + 'px'}">
            <img v-for="card in battleFieldCardList"
                class="battle-field-card"
                :src="card.imagePath"
            >
        </div>
    </div>
    <div id="player">
        <div>
            <span>{{player.name}}</span><span class="rank">{{player.rank}}</span>
            <div id="player-button-container">
                <button>パス</button>
                <button @click="outputCardList">カードを出す</button>
            </div>
        </div>
        <div id="player-card-list">
            <img v-for="(card, index) in player.cardList"
                :id="'player-card' + index"
                :src="card.imagePath"
                :class="{'selected': card.isSelected}"
                @click="cardClick(index)"
            >
        </div>
    </div>
</div>