<div id="container">
    <div id="another-player-container">
        <div class="another-player" v-for="player in anotherPlayerList">
            <div>
                <span :class="{turn: player.isTurn}">{{player.name}}</span><span class="rank">{{player.isNowPass ? "パス" : player.rank}}</span>
            </div>
            <div>
                <img class="card-back" src="./assets/card/card_back.png">×{{player.cardList.length}}
            </div>
        </div>
    </div>
    <div id="battle-field">
        <div v-show="isRevolution" id="revolution">革命中</div>
        <div id="battle-field-card-container" :style="{width: battleFieldCardContainerWidth + 'px'}">
            <img v-for="card in battleFieldHand"
                class="battle-field-card"
                :src="card.imagePath"
            >
        </div>
    </div>
    <div id="player">
        <div>
            <div id="player-info">
                <span :class="{turn: player.isTurn}">{{player.name}}</span><span class="rank">{{player.isNowPass ? "パス" : player.rank}}</span>
                <label id="high-speed-checkbox-container">
                    高速化<input type="checkbox" id="high-speed-checkbox" v-model="isHighSpeed">
                </label>
            </div>
            <div id="player-button-container">
                <button v-if="canGoToNextGame" @click="goToNextGame">次のゲームへ</button>
                <template v-else>
                    <button :disabled="!player.isTurn" @click="pass">パス</button>
                    <button :disabled="!canOutputHand" @click="outputHand">カードを出す</button>
                </template>
            </div>
        </div>
        <div id="player-card-list-container">
            <div id="player-card-list" :style="{width: playerCardListWidth + 'px'}">
                <img v-for="(card, index) in player.cardList"
                    :id="'player-card' + index"
                    :src="card.imagePath"
                    :class="{'selected': card.isSelected}"
                    @click="cardClick(index)"
                >
            </div>
        </div>
    </div>
</div>