* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  width: 800px;
  margin: 20px auto 0;
  background-color: aliceblue;
}

#another-player-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: aquamarine;
}

.turn {
  font-weight: bold;
  color: red;
}

.another-player {
  width: 120px;
  background-color: azure;
}

.rank {
  margin-left: 8px;
}

.card-back {
  width: 60px;
  vertical-align: text-bottom;
}

#battle-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 190px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lavender;
}

#revolution {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  color: red;
}

#battle-field-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: cornsilk;
}

.battle-field-card {
  width: 100px;
  margin-left: -120px;
}

.battle-field-card:first-child {
  margin-left: 0;
}

#player {
  height: 324px;
  background-color: azure;
}

#player-info {
  height: 24px;
}

#high-speed-checkbox-container {
  float: right;
  margin-right: 8px;
}

#high-speed-checkbox-container #high-speed-checkbox {
  margin-left: 8px;
}

#player-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background-color: cadetblue;
}

#player-button-container button {
  width: 100px;
  margin: 0 20px;
}

#player-card-list-container {
  position: relative;
  height: 260px;
}

#player-card-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 35px auto 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player-card-list .selected {
  translate: translateY(-35px);
  -webkit-transform: translateY(-35px);
  -moz-transform: translateY(-35px);
  -ms-transform: translateY(-35px);
  -o-transform: translateY(-35px);
}

#player-card0 {
  width: 150px;
  margin-left: -150px;
  z-index: 0;
  -webkit-user-drag: none;
}

#player-card1 {
  width: 150px;
  margin-left: -150px;
  z-index: 1;
  -webkit-user-drag: none;
}

#player-card2 {
  width: 150px;
  margin-left: -150px;
  z-index: 2;
  -webkit-user-drag: none;
}

#player-card3 {
  width: 150px;
  margin-left: -150px;
  z-index: 3;
  -webkit-user-drag: none;
}

#player-card4 {
  width: 150px;
  margin-left: -150px;
  z-index: 4;
  -webkit-user-drag: none;
}

#player-card5 {
  width: 150px;
  margin-left: -150px;
  z-index: 5;
  -webkit-user-drag: none;
}

#player-card6 {
  width: 150px;
  margin-left: -150px;
  z-index: 6;
  -webkit-user-drag: none;
}

#player-card7 {
  width: 150px;
  margin-left: -150px;
  z-index: 7;
  -webkit-user-drag: none;
}

#player-card8 {
  width: 150px;
  margin-left: -150px;
  z-index: 8;
  -webkit-user-drag: none;
}

#player-card9 {
  width: 150px;
  margin-left: -150px;
  z-index: 9;
  -webkit-user-drag: none;
}

#player-card10 {
  width: 150px;
  margin-left: -150px;
  z-index: 10;
  -webkit-user-drag: none;
}

#player-card11 {
  width: 150px;
  margin-left: -150px;
  z-index: 11;
  -webkit-user-drag: none;
}

#player-card12 {
  width: 150px;
  margin-left: -150px;
  z-index: 12;
  -webkit-user-drag: none;
}

#player-card13 {
  width: 150px;
  margin-left: -150px;
  z-index: 13;
  -webkit-user-drag: none;
}

#player-card14 {
  width: 150px;
  margin-left: -150px;
  z-index: 14;
  -webkit-user-drag: none;
}

#player-card15 {
  width: 150px;
  margin-left: -150px;
  z-index: 15;
  -webkit-user-drag: none;
}

#player-card16 {
  width: 150px;
  margin-left: -150px;
  z-index: 16;
  -webkit-user-drag: none;
}

#player-card17 {
  width: 150px;
  margin-left: -150px;
  z-index: 17;
  -webkit-user-drag: none;
}

#player-card0 {
  margin-left: 0;
}
/*# sourceMappingURL=game.css.map */